* {
    background:                     #2E3440;
    background-alt:                 #3B4252;
    foreground:                     #81A1C1;
    border:               			#CA8CA5;
    border-alt:               		#F0B2B3;
    selected:               		#CD3864;
    urgent:                         #DA4453;
}
