* {
    background:                     #2E3440;
    background-alt:                 #3B4252;
    foreground:                     #C88E80;
    border:               			#DB7A4F;
    selected:               		#D44652;
    urgent:                         #DA4453;
}
